
/* Navbar session */
.wrapper {
    width: 1440px;
    height: 1170px;
    background-color: #F3F8FF;
    margin: auto;
}

.navbar {
    width: 1360px;
    height: 73px;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 200px;
    height: 39px;
}

.navlist {
    width: 476px;
    height: 40px;
}


 ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

/* Main session */
 .main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 892px;
    height: 795px;
    margin: auto;
    margin-top: 85px;
    background-color: white;
}

/* section 1 */
.section-1 {
    width: 580px;
    height: 795px;
}
/* checkout */
.checkout {
    height: 80px;
}

.checkout p {
    width: 161px;
    height: 54px;
    margin: 2.5rem 0 0 2.5rem;
    font-family: "lato",sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

/* Basic Information */
.info {
    height: 221px;
    margin-top: 2.12rem;
}

.info p {
    width: 260px;
    height: 34px;
    margin-left: 2.5rem;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -0.16px;
}

.info p span {
    border: 0.8px solid;
    border-radius: 100%;
}

/* first second session */

.grid-1 {
    width: 227px;
    height: 60px;
    margin-left: 2.5rem;
}

.grid-1 label {
    width: 187px;
    height: 17px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2C3C;
}
.grid-2 {
    width: 227px;
    height: 60px;
}




/* section 2 */
.section-2 {
    width: 312px;
    height: 795px;
}

