
/* Navbar session */
.wrapper {
    width: 1440px;
    height: 1170px;
    background-color: #F3F8FF;
    margin: auto;
}

.navbar {
    width: 1360px;
    height: 73px;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 200px;
    height: 39px;
}

.navlist {
    width: 476px;
    height: 40px;
}


 ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

/* Main session */

.main {
    width: 892px;
    height: 795px;
    margin: auto;
    margin-top: 85px;
    background-color: white;

}

/* div-1 */
.div-1 {
    width: 580px;
    height: 80px;
    padding-top: 20px;
    padding-left:40px;
}

.div-1 p {
    width: 161px;
    height: 54px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}