body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(44, 41, 38);
}

/* header session */
header {
    height: 80px;
    background-color: rgb(29, 26, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

a {
    text-decoration: none;
}

#logo {
    color: rgb(238, 164, 80);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(228, 163, 44);
    margin: 0 14px;
}

nav a:hover {
    color: black;
    background-color: rgb(228, 163, 44);
    padding: 2px 4px;
}

/* main session */

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(238, 164, 80);
    text-transform: capitalize;
}

#meal-section {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    gap: 32px;
}

.food-items {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(228, 206, 182);
}

.food-items img {
    width: 100%;
    height: 400px;   
}